[submodule "kvs/consensusrecsplit/ConsensusRecSplit"]
	path = kvs/consensusrecsplit/ConsensusRecSplit
	url = https://github.com/ByteHamster/ConsensusRecSplit.git

[submodule "kvs/bbhash/BBHash"]
	path = kvs/bbhash/BBHash
	url = https://github.com/rizkg/BBHash.git

[submodule "kvs/pthash/pthash"]
	path = kvs/pthash/pthash
	url = https://github.com/jermp/pthash.git
